.login-card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
}

.full-width {
  width: 100%;
}

h2 {
  text-align: center;
}
.submit-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
